body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffe6f0, #e6f0ff);
  color: #333;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  padding: 25px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* TITLE */
h1 {
  text-align: center;
  color: #ff4da6;
}

/* SLOGAN */
.slogan {
  text-align: center;
  font-size: 13px;
  color: #888;
  margin-bottom: 15px;
}

/* INPUT */
.inputBox {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

button {
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background: #ff4da6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff2f92;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 10px;
  border-radius: 10px;
  background: #fff0f6;
  font-size: 13px;
}

/* LIST */
.item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  background: #f9f9f9;
  border: 1px solid #eee;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  background: transparent;
  color: #ff4da6;
  font-size: 16px;
}